# === Node.js ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
*.local

# === Frontend secrets ===
.env

# === .NET / C# ===
*.user
*.suo
*.userosscache
*.sln.docstates
*.pdb
*.cache
*.dbmdl
*.log
*.vspscc
*.vssscc

# Rider / ReSharper / VS Code / VS
.idea/
.vscode/*
!.vscode/extensions.json
.vs/
*.csproj.user
*.sln

# Build output
**/bin/
**/obj/
**/out/
**/Debug/
**/Release/

# Publish folder
**/publish/
**/artifacts/

# Local secrets
**/appsettings.Development.json
**/secrets.json

# macOS / system
.DS_Store
*.sw?
Thumbs.db
